[mattermost]
# Mattermost incomming webhook url
url = http://xxx.xxx.xxx/hooks/xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# Override mattermost username 
username = はてブTECHフィード
# Interval time, when send multiple feed.
interval = 10

[rss]
# RSS feed url
url = http://b.hatena.ne.jp/hotentry/it.rss
# Interval time to get feed
interval = 600

[database]
conn = postgresql://user:pass@xxx.xxx.xxx.xxx:xxxx/yyyy
